body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.dashboard {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 70px;
    background-color: #7f8082;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.icon {
    color: rgb(28, 13, 47);
    font-size: 30px;
    margin: 20px 0;
    cursor: pointer;
}

.content {
    flex: 1;
    padding: 30px;
}

h2 {
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.circle-container {
    display: flex;
    gap: 15px;
}

.circle {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    color: rgb(1, 0, 0);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid black;
}
.au{
    margin-top: 150px;
    font-size: 20px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    


}
.au-select{
    width: 20px;
    margin-left: 50px;
    margin-bottom: 5px;
    margin-right: 10px;
}
