.button-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
    margin: 50px;
    margin-left: 150px;
    margin-top: 250px;
    
    
}
   .button-container button{
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 12px;
    font-family: initial;
    font-size: 18px;
   }


   
    